
body {
  background-color: #FDDBBE;
  box-sizing: border-box;
  margin: 0 0;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 18em;
}
.header .logo img {
  width: 70em;
}
.header .links{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header .links span {
  font-size: 1.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
}
.header .links img {
  display: flex;
  width: 8em;
  height: 8em;
  padding: 0.4em 1.5em;
}

/* ================================================================= */

.main {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  margin: 0 auto;
}
.main .content img {
  width: 2em;
  margin-right: 1em;
}
.main .content {
  width: 100%;
  align-items: flex-start;
  padding: 1em 1em;
}
.main .content .quem-somos, .support, .vantagens {
  display: flex;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
}
.main .content .a1 {
  color: #454445;
}
.main .content .a2 {
  color: #EC6619;
}
.main .content .a3 {
  color: #1C4093;
}
.text {
  font-size: 1.6em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

/* ================================================================= */

.infos {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 4em;
}
.info-content {
  width: 100%;
}

.info-text {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  font-size: 5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
}

.infos-text {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.infos-text img {
  width: 10em;
}
.contents {
  display: flex;
  align-items: center;
  height: 100%;
}
.infos-text .auth-oficial.content, .time-shop.content, .instant-delivery.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infos-text .texts {
  text-transform: capitalize;
  color: #454445;
}
.a1b {
  color: #EC6619;
}
.a2b {
  color: #1C4093;
}
.a3b {
  color: #FFFF;
}

.infos-text span {
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
}
.infos-text img {
  margin-right: 1em;
}

/* ================================================================= */
/* ======================= RESPONSIVIDADE ========================== */
/* ================================================================= */

@media screen and (max-width: 768px)  {
  .header {
    display: block;
    height: 0%;
  }
  .header .logo img {
    width: 24em;
  }
  .header .links img {
    width: 3em;
    height: 3em;
  }
  .header .links span {
    font-size: 0.6em;
  }

  /* ================================================================= */

  .main .content {
    padding: 0;
  }
  .main .content .quem-somos, .support, .vantagens {
    font-size: 1.5em;
    margin-bottom: 0.8em;

  }
  .main .content img {
    width: 1.5em;
    margin-right: 0.5rem;
  }
  .main .text {
    font-size: 1rem;
  }

  /* ================================================================= */
  .infos {
    margin-bottom: 2em;
  }
  .info-text {
    font-size: 1.5em;
  }
  .infos-text {
    display: block;
  }
  .infos-text img {
    width: 2em;
  }
  .infos-text span {
    font-size: 1.2em;
  }
  .infos-text .auth-oficial, .time-shop, .instant-delivery {
    margin-bottom: 1em;
  }

  .whats-icon {
    background-color: #5dc716;
    border-radius: 150px;
    padding: 0.3em;
    position: fixed;
    right: 30px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 3em;
  }
  
  .whats-icon img {
    width: 2em;
  }
}

/* ================================================================= */

.whats-icon {
  background-color: #5dc716;
  border-radius: 150px;
  padding: 1em;
  position: fixed;
  right: 30px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 5em;
}

.whats-icon img {
  width: 4em;
}